In [6]:
import pandas as pd
from tweet import tweet_func

In [7]:
tweet_func()

Added to tweet.csv

In [8]:
data = pd.read_csv("tweet.csv")
data.head()

      query                        time  total_polarity  total_subjectivity
0  Malaysia  2021-04-14 12:15:58.744939        0.063333            0.185556
1  Malaysia  2021-04-14 12:16:04.620202        0.063333            0.185556
2  Malaysia  2021-04-14 12:59:58.602368        0.128056            0.312778